* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0 ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eeeeee;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace
}

h3,h4 {
  color: rgb(56,56,56);
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 2px;
}

h3 {
  width: 100%;
  font-size: 1.5rem;
  margin: 0 0 30px 20px;
  position: relative;
}

h3::after {
  content: '';
  position: absolute;
  left: -10px;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: rgba(56, 56, 56, 0.205) ;
}

.container {
  margin: 0 10%;
}

a {
  color: rgb(56,56,56);
}